#previews {
  width: 50rem;
  height: 10rem;
  display: flex;
  overflow: hidden;
  border: solid 5px #997070;
}

/* プレビュー画像1枚分の親 */
.preview {
  width: 20%;
  height: 100%;
  border: solid 5px #f5b2b2;
  flex-shrink: 0;
}

 /* プレビュー画像 */
.preview-image {
  width: 100%;
  height: 85%;
  vertical-align: top;
}

.image-delete-button {
  flex-grow: 1;
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

/* プレビュー画像を横並びにする */
#previews .preview {
  display: inline-block;
}